includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	#level: max
	level: 5
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- src/
	ignoreErrors:
		# See value object https://github.com/szepeviktor/phpstan-wordpress/blob/master/example/class-wp-nav-menu-item.php
		- '#^Access to an undefined property WP_Post::\$(current|url|title)\.$#'
		# Consider making the class or the constructor final
		- '#^Unsafe usage of new static\(\)\.$#'
